@{
  ViewData["Title"] = "Inicio";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row pt-4 card-group">
  <div class="col-xl-4  col-sm-6 mb-2 mx-auto">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
          <i class="bi-file-earmark-spreadsheet opacity-10"></i>
        </div>
        <div class="pt-1" style="width: 100%;">
          <h6 class="mb-0 text-end ">Calificaciones</h6>
          <p class="text-sm mb-0 pt-4" style="width: 100%;">Revisa tu historial de calificaciones</p>
          <div class="text-end">
          <img src="~/template/img/calificaciones-istpet.png" style="width:100%"/>   
        </div>
        </div>
      </div>
      <hr class="dark horizontal my-0 mb-1">
      <div class="card-footer py-0 px-3 text-end">
        <a class="btn btn-dark btn-sm" href="~/Sistema/Calificaciones">Ingresar<i class="ps-1 bi-caret-right"
            style="font-size: 13px;"></i></a>
      </div>
    </div>
  </div>

    <div class="col-xl-4  col-sm-6 mb-2 mx-auto">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
          <i class="bi-book opacity-10"></i>
        </div>
        <div class="pt-1" style="width: 100%;">
          <h6 class="mb-0 text-end ">Biblioteca virtual</h6>
          <p class="text-sm mb-0 pt-4" style="width: 100%;">Biblioteca virtual</p>
          <div class="text-end">
          <img src="~/template/img/biblioteca.png" style="width:100%"/>   
        </div>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer py-0 px-3 text-end">
        <a class="btn btn-dark btn-sm" href="https://elibro.net/es/lc/institutotraversari/login_usuario/" target="_blank">Ingresar<i class="ps-1 bi-caret-right"
            style="font-size: 13px;"></i></a>
      </div>
    </div>
  </div>

    <div class="col-xl-4 col-sm-6 mb-2 mx-auto">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
          <i class="bi-envelope-check opacity-10"></i>
        </div>
        <div class="pt-1" style="width: 100%;">
          <h6 class="mb-0 text-end ">Correo institucional</h6>
          <p class="text-sm mb-0 pt-4" style="width: 100%;">Accede a tú correo institucional y sus beneficios</p>
          <div class="text-end">
          <img src="~/template/img/office-istpet.png" style="width:100%"/>   
        </div>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer py-0 px-3 text-end">
        <a class="btn btn-dark btn-sm" href="https://portal.office.com/" target="_blank">Ingresar<i class="ps-1 bi-caret-right"
            style="font-size: 13px;"></i></a>
      </div>
    </div>
  </div>


</div>





